@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">@localizer["Welcome"]</h1>
    <br />
    <p style="background-color:khaki; height:400px; text-align:left;padding:20px;">@localizer["AboutUs"]</p>
</div>
